.scrollable {
    overflow-y: auto;
}

.msgbox_left {
    float:left;
    width: 190px;
}

.msgbox_right {
    float:left;
    width: 100px;
    text-align: right;
}

#msgbox_container {
    position:fixed;
    bottom:0;
    right: 3px;
    height: 28px;
}
#msgbox_container .msgbox_chat_window{
    width: 300px;
    float:right;
    margin : 0 5px;
    border: #000000;
    border-width: thin;
}

#msgbox_container .titlebar{
    background: #f6f7f9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    color: #191919;
    height: 26px;
    padding-right: 3px;
    z-index: 2;
}


#msgbox_container .msgbox_chat_area{
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    color: #191919;
    height: 234px;
    z-index: 2;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ACD8F0;
}

#msgbox_container .msgbox_usermsg {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
}

#msgbox_container .msgbox_working_checkbox{
    margin-right: 5px;
}

.msgbox_chat_minimized{
    display:none;
    height: 26px;
}

.msgbox_chat_content{
    margin-top: -273px;
}

#template_dialog_form_table tr {
    text-align: justify;
}

.user_status {
    color: #843534;
}

.user_is_online .user_status {
    color: #7ab800;
}
